export BACKEND_PORT=8080
export CERTS_DIR=./certs
export CGO_CFLAGS="-I/usr/include"
export CGO_LDFLAGS="-L/usr/lib -llibgdal"
export HTTP_PORT=2015
export HTTPS_PORT=443
export ADMIN_PORT=2019
export DOMAIN_NAME=timm-l.compusult.net
export ROOT_DIR_3D=.
export TLS_CERT_LOC=compusult_net_2024.crt
export TLS_KEY_LOC=compusult_net_2048_nopass.key
export CADDYFILE=caddyfile-dev
