web/
backend/cslt3d
logs/*
node_modules
src/ComponentLibrary/*
src/CSSLibrary/*
rebuild_docker.mx
deploy/
prep.mx
rebuild_docker.mx
.direnv
.envrc
dockerpush.sh
fl.bak
flake.lock
flake.nix
dockerpush-demo.sh
backend/devtools
backend/.ccls-cache
backend/.cache/clangd/index
backend/build
site_certs
