/*Layer Manager*/
:root {
    --dark-blue: #145284;
    --white: #ffffff;
    --gray: #b4b4b4;
}

#layer-list {
    flex-direction: column;
    --gap: 0.2rem;
}
#layer-list > li {
    display: grid;
    grid-template-areas: "layerentry layerentry layerentry layerentry layerentry layerentry layerentry layerentry layerentry layerentry ";
    grid-template-columns: 2rem 2rem repeat(3, 4rem) repeat(4, 2rem);
    align-items: center;
    width: -webkit-fill-available;
    border: 1px solid var(--gray);
    background: var(--white);
}

.layer-list-layer-entry {
    display: flex;
    grid-area: layerentry;
    align-items: center;
    background: var(--white);
}
