/* Search Input */
.cslt-search-input {
    font-family: "Courier New";
    padding: 0.5rem;
    margin-top: 0.5rem;
    border-bottom-right-radius: 0.625rem;
    border-bottom-left-radius: 0.625rem;
    background: rgba(20, 82, 132, 0.1);
    backdrop-filter: blur(0.5rem);
}

.cslt-cesium-toolbar-search-input {
    width: 15rem;
}

.cslt-cesium-toolbar-search-results > ul {
    list-style: none;
    color: white;
}
.cslt-cesium-toolbar-search-results > ul > li {
    padding: 0.125rem 0.5rem 0.125rem 0.5rem;
    font-size: smaller;
    cursor: pointer;
}
.cslt-cesium-toolbar-search-results > ul > li:hover {
    background: rgba(20, 82, 132, 0.2);
}
