/*Layer Manager*/
#layer-list {
    flex-direction: column;
    --gap: 0.2rem;
}
#layer-list > li {
    display: grid;
    grid-template-columns: repeat(12, 2rem);
    align-items: center;
    width: -webkit-fill-available;
    border: 1px solid var(--gray);
    background: var(--white);
}

.layer-list-layer-entry {
    display: flex;
    grid-column: 1/12;
    align-items: center;
    background: var(--white);
}
.layer-list-layer-entry:hover {
    background-color: var(--light-gray);
}