/* Layers View */
.layers-view {
    background: var(--white);
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 2;
}

.layers-view-layers-label {
    grid-row: 1;
    color: var(--white);
    background-color: var(--gray);
    font-weight: 700;
    display: inline-block;
    padding: 0.8rem 0.8rem 0.8rem 0.8rem;
}
.layers-view-layers-label-order-closed {
    grid-column: 1/2;
}
.layers-view-layers-label-order-opened {
    grid-column: 1/3;
}
.layers-view-width-order-opened {
    min-width: 42rem;
    max-width: 42rem;
}

.layers-view-layer-tree-panel {
    grid-column: 1;
    grid-row: 2/4;
    background: var(--white);
    width: 28rem;
    display: grid;
}

// The scroll panel containing the layers list
.layers-view-layer-list-scroll {
    max-height: calc(100vh - 9.5rem);
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.layers-view-layer-list-container {
    background: var(--white);
}

.layers-list-layer-order-button-div {
    display: flex;
    justify-content: end;
    margin-top: auto;
    border-top: 1px solid var(--gray);
}
.layers-list-layer-order-button {
    margin-left: auto;
    color: var(--white);
    background-color: var(--gray);
    border-radius: 4px;
}
.layers-list-layer-order-button:disabled {
    color: var(--white);
    background-color: var(--gray);
}

.layers-view-layer-order-panel {
    grid-column: 2;
    grid-row: 2/4;
    background: var(--white);
    width: 26rem;
    display: grid;
}
// The scroll panel containing the layers list
.layers-view-layer-order-scroll {
    max-height: calc(100vh - 9.5rem);
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}
