.layer-settings-menu {
    z-index: 1000;
    position: absolute;
    background-color: white;
    border: 1px solid var(--gray);
    padding: 2px;
    display: grid;
    margin: 0;
    list-style-type: none;
    list-style: none;
}
.layer-settings-menu li {
    list-style: none;
    margin: 0.3rem;
    font-size: medium;
    display: flex;
    align-items: center;
}
.layer-settings-menu li:hover {
    color: white;
    background-color: var(--gray);
}
.layer-settings-menu li:hover .layerSettingsMenuIcon {
    fill: white;
}

.layer-settings-menu-hidden {
    display: none;
}

.layer-list-layer-entry:hover .dropdown-button {
    color: var(--gray);
    display: block;
}

.layerSettingsMenuIcon {
    margin-right: 0.3rem;
    fill: var(--gray);
    height: 1.50rem;
    width: 1.50rem;
}