/* Layers View */
.layer-order-list {
    flex-direction: column;
    --gap: 0.2rem;
    width: 100%;
}
.layer-order-list > li {
    align-items: center;
    background: var(--white);
}

.layer-order-list-label {
    background-color: var(--gray);
    color: var(--white);
    width: 100%;
    display: inline-block;
    padding-top: 6px;
    padding-bottom: 6px;
    text-align: center;
    justify-self: end;
}

.layer-order-entry {
    display: flex;
    width: 100%;
    align-items: center;
    background: var(--white);
}
.layer-order-entry-selected {
    color: var(--light-gray);
    border: 2px solid var(--light-gray);
}

.layer-order-name {
    padding: 0.4rem 0.4rem 0.4rem 0.4rem;
    color: var(--dark-gray);
    text-align: left;
    vertical-align: middle;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    align-self: center;
    margin-right: auto;
}

.layer-order-selection-button {
    height: 0.9375rem;
    width: 0.9375rem;
    min-height: 0.9375rem;
    min-width: 0.9375rem;
    background-color: var(--white);
    border: 1px solid var(--light-gray);
    border-radius: 50%;
    accent-color: var(--gray);
    margin: 0.4rem 0.4rem 0.4rem 0.4rem;
}

.layer-order-button-div {
    display: flex;
    justify-content: end;
    margin-top: auto;
    border-top: 1px solid var(--gray);
}

.layer-order-button {
    height: 1.75rem;
    width: 1.75rem;
    padding: 0;
}
.layer-order-button:disabled {
    color: var(--white);
    background-color: var(--gray);
}
