.layer-settings-menu {
    z-index: 1000;
    position: absolute;
    background-color: var(--white);
    border: 1px solid var(--gray);
    padding: 2px;
    display: grid;
    margin: 0;
    list-style-type: none;
    list-style: none;
}
.layer-settings-menu li {
    list-style: none;
    font-size: medium;
    display: flex;
    align-items: center;
}
.layer-settings-menu li:hover {
    background-color: var(--light-gray);
}

.layer-settings-menu-hidden {
    display: none;
}

.layer-list-layer-entry:hover .dropdown-button {
    color: var(--dark-gray);
    background-color: var(--clear);
    display: block;
}

.service-div:hover .dropdown-button {
    color: var(--dark-gray);
    background-color: var(--clear);
    display: block;
}

.layer-settings-menu-icon {
    margin: 0.3rem;
    fill: var(--gray);
    height: 1.5rem;
    width: 1.5rem;
}

.layer-settings-menu-text {
    margin: 0.3rem;
}
