/* Solid-Select for BaseMaps and Terrain*/
.solid-select-control {
    min-width: inherit;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.solid-select-control:hover {
    background-color: var(--light-gray);
}

.solid-select-container {
    display: flex;
    color: var(--dark-gray);
    background: inherit;
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    min-width: -webkit-fill-available;
    min-width: -moz-available;
    min-width: fill-available;
    min-width: stretch;
}

.solid-select-list {
    top: -1px !important;
    left: -1px !important;
    margin: 0 !important;
    border: 1px solid var(--gray);
    border-radius: 4px !important;
    padding: 0 !important;
    min-width: -webkit-fill-available;
    min-width: -moz-available;
    min-width: fill-available;
    min-width: stretch;
    overflow-y: clip !important;
    background-color: var(--white);
}

//When hovering on an individual select list option
.solid-select-list .solid-select-option:hover {
    color: var(--dark-gray);
    background: var(--light-gray);
}

//The 'focused' option
.solid-select-list .solid-select-option[data-focused="true"] {
    background-color: var(--white);
}

//When hovering on the 'focused' option.
.solid-select-list .solid-select-option[data-focused="true"]:hover {
    color: var(--dark-gray);
    background: var(--light-gray);
}
