.top-right-cesium-buttons-div {
    position: absolute;
    right: 0;
    z-index: 1;
    margin: 0.6rem;
    display: inline-block;
}

.top-right-cesium-button {
    background-color: var(--white);
    padding: 7px 12px 3px 12px
}
.top-right-cesium-button:hover {
    background-color: var(--light-gray);
}