{
    http_port {$CSLT_3D_HTTP_PORT}
    https_port {$CSLT_3D_HTTPS_PORT}
}

localhost {
    log {
        format console
        output file ./cslt3d.log
    }

    file_server {
        root web/
    }

    route /api/a* {
            handle {
                reverse_proxy localhost:8080
        }
    }
    route /add* {
        handle { 
            reverse_proxy localhost:8080
            }
    }
}
