@use "./SassComponents/CesiumOverrides.scss";
@use "./SassComponents/Compass.scss";
@use "./SassComponents/CatalogView.scss";
@use "./SassComponents/EditView.scss";
@use "./SassComponents/LayerEntryButtons.scss";
@use "./SassComponents/LayerEntrySelects.scss";
@use "./SassComponents/LayerList.scss";
@use "./SassComponents/Legend.scss";
@use "./SassComponents/LoadView.scss";
@use "./SassComponents/PrimaryHeader.scss";
@use "./SassComponents/SaveView.scss";
@use "./SassComponents/Search.scss";
@use "./SassComponents/Scrollbar.scss";
@use "./SassComponents/Toolbar.scss";
@use "./SassComponents/UtilityClasses.scss";
@use "./SassComponents/LayersView.scss";
@use "./SassComponents/TopRightCesiumButtonsDiv.scss";
@use "./SassComponents/ServiceEntry.scss";
@use "./SassComponents/LayersOrder.scss";
@use "./SassComponents/SettingsMenu.scss";
@use "./SassComponents/LayerSettingsMenu.scss";
@use "./SassComponents/GeoCaHeader.scss";
@use "./SassComponents/SceneModeRockerButtonDiv.scss";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto", "Helvetica Neue", "sans-serif";
}

:root {
    --clear: rgba(255, 255, 255, 0);
    --dark-blue: #145284;
    --white: #ffffff;
    --light-gray: #dfdfdf;
    --gray: #939393;
    --dark-gray: #212121;
    --black: #000000;
}

@media (max-width: 40em) {
    .toolbar-navigation {
        inset: 0 30% 0 0;
        flex-direction: column;
        padding: min(0.5rem, 5rem) 0.5rem;
    }

    .cslt-toolbar-expanded {
    }

    .cslt-toolbar-menu {
        grid-auto-flow: column;
    }

    .solid-select-list {
        max-width: 11rem;
    }
}
